html
  head
    title= title
    link(rel="stylesheet", href="/css/style.css")
  body
    a(href="/") Return to the homepage
    h1 Add a New Pet
    form(action="/update-cobj", method="POST")
      div
        label(for="name") Name:
        input(type="text", name="name", id="name", required)
      div
        label(for="species") Species:
        input(type="text", name="species", id="species", required)
      div
        label(for="age") Age:
        input(type="number", name="age", id="age", required)
      button(type="submit") Submit